doctype html
head
  title Voting
  script(src='/externals/react/react.min.js')
  script(src='/externals/react/react-dom.min.js')
  script(src='/js/babel-browser.min.js')
body
  #app-container
  script(type='text/babel', src="/jsx/HelloButton.jsx")
